<section>
    @if (isLoggedIn) {
    <p>Bievenido , {{username}}</p>
    <img (click)="greet()" src="https://github.com/willyRLV.png" alt="photo">
    }
    @else {
    <p>Inciar sesión!</p>
    <button (click)="isLoggedIn= true"  >Log in</button>

    }
    <!-- USAR PROPShacia abajo (username) -->
    <!-- USAR PROPShacia arriba (favGame) -->

    <app-games
    (addFavoriteEvent)="getFavorite($event)"
    username = "{{username}}" ></app-games>

    @if (favGame !== '') {
        <p>Tu juego favorito es {{favGame}}</p>
    }

</section>